@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500&display=swap');

$dark-blue: #161c2e;
$beige: #FAF7F2;
$soft-red: #F95959;

$font-libre: 'Libre Baskerville', serif;
$font-roboto: 'Roboto', sans-serif;

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/***** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ *****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/***** main styles *****/

body {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $dark-blue;
  font-family: $font-roboto;
  overflow-x: hidden;
}

main {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $beige;

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

@import "./header";
@import "./projects";
@import "./about";
@import "./contact";

.footer {
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
  min-height: 10vh;

  .logo {
    height: 50px;
  }
}

/*** ANIMATIONS ***/

@keyframes lineMovementBg {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -50px 0;
  }
}

@keyframes lineMovementBgTwo {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 45px 0;
  }
}

@keyframes lineMovementBgThree {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -48px 0;
  }
}