@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500&display=swap');

$dark-blue: #161c2e;
$beige: #FAF7F2;
$soft-red: #F95959;

$font-libre: 'Libre Baskerville', serif;
$font-roboto: 'Roboto', sans-serif;

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/***** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ *****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/***** main styles *****/

body {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $dark-blue;
  font-family: $font-roboto;
  overflow-x: hidden;
}

main {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $beige;

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.header {
  min-height: 100vh;
  margin-top: 10vh;

  .header-square {
    position: absolute;
    height: 35vh;
    min-height: 320px;
    width: 685px;
    background-color: #161C2E;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 2;

    @media screen and (max-width: 1000px) {
      width: 550px;
    }

    @media screen and (max-width: 650px) {
      width: 450px;
    }

    @media screen and (max-width: 500px) {
      width: 280px;
    }
  }

  .name {
    position: absolute;
    font-family: $font-libre;
    text-transform: uppercase;
    font-size: 64px;
    width: 100vw;
    text-align: center;
    mix-blend-mode: exclusion;
    color: #FAF7F2;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -42%);
    z-index: 3;

    @media screen and (max-width: 1000px) {
      font-size: 46px;
    }

    @media screen and (max-width: 650px) {
      font-size: 36px;
    }

    @media screen and (max-width: 500px) {
      font-size: 28px;
    }
  }

  .desc {
    position: absolute;
    font-weight: 100;
    font-size: 21px;
    font-style: italic;
    text-align: center;
    line-height: 30px;
    color: $beige;
    margin-top: 10px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -53%);
    z-index: 3;

    @media screen and (max-width: 650px) {
      font-size: 21px;
      line-height: 35px;
    }

    @media screen and (max-width: 500px) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .lines {

    .line {
      @media screen and (min-width: 1440px) {
        max-width: 1440px;
      }
    }

    .line-1 {
      position: absolute;
      background-image: url('../images/line_straight2.svg');
      mix-blend-mode: exclusion;
      background-repeat: no-repeat;
      height: 20px;
      width: 100vw;
      transform: rotate(-5deg);
      margin-top: 10vh;
      animation: lineMovementBg 0.6s linear infinite forwards;
    }
    
    .line-2 {
      background-image: url('../images/line_straight2.svg');
      mix-blend-mode: exclusion;
      background-repeat: no-repeat;
      height: 20px;
      width: 100vw;
      position: absolute;
      transform: rotate(8deg);
      margin-top: 33vh;
      animation: lineMovementBgTwo 0.55s linear infinite forwards;
    }
    
    .line-3 {
      background-image: url('../images/line_straight2.svg');
      mix-blend-mode: exclusion;
      background-repeat: no-repeat;
      height: 20px;
      width: 100vw;
      position: absolute;
      transform: rotate(-2deg);
      margin-top: 50vh;
      z-index: 3;
      animation: lineMovementBg 0.5s linear infinite forwards;

      @media screen and (max-width: 768px) {
        margin-top: 47vh;
      }
    }  
  }
}


.projects {
  justify-content: space-evenly;
  min-height: 100vh;
  background-color: $dark-blue;
  padding: 50px 0px;

  .projects-title {
    display: flex;
    flex-direction: column;
    font-family: $font-libre;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: $beige;
    height: auto;
    line-height: 2.25rem;
    overflow: hidden;
    z-index: 2;

    &::after {
      content: '';
      position: relative;
      height: 5px;
      background-image: url(../images/line-red.svg);
      width: 230px;
      font-weight: bold;
      color: $soft-red;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: -1;
      animation: lineMovementBgThree 3s linear infinite forwards;

      @media screen and (max-width: 500px) {
        width: 160px;
      }
    }

    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }

  .project-images-container {
    justify-content: center;
    padding: 50px 0px;
    max-width: 1440px;
    overflow-x: hidden;

    img {
      mix-blend-mode: screen;
      height: auto;
    }

    .project-images-one, .project-images-two {
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  .projects-desc {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding: 0px 10px;
    color: $beige;

    a {
      text-decoration: none;
      font-weight: 500;
      color: $soft-red;
      transition: all 0.5s ease-in-out;

      &:hover {
        font-style: italic;
      }
    }
  }

  .project {
    position: relative;
  }

  .project img {
    width: 100%;
    vertical-align: top;
    cursor: pointer;
  }

  .project:after {
    white-space: pre;
    word-wrap: break-word;
    color: $beige;
    font-weight: 300;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0%; 
    left: 0%;
    text-align: center;
    line-height: 40px;
    padding-top: 20%;
    background: rgba(22, 28, 46, 0.8);
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s;
  }

  .project:hover:after {
    opacity: 1;
  }

  .project:active:after {
    opacity: 1;
  }

  .project-one:after {
    content:'Autonomous Car Project \A .NET C#, Unity, Blender';
  }

  .project-two:after {
    content:'Bill splitter app (Frontendmentor challenge) \A HTML, SCSS, JavaScript';
  }

  .project-three:after {
    content:'Sunnyside agency landing page \A (Frontendmentor challenge) \A HTML, SCSS, JavaScript';
    padding-top: 15%;
  }

  .project-four:after {
    content:'Time tracking dashboard \A (Frontendmentor challenge) \A React, SCSS';
    padding-top: 14%;
  }
}

.about {
  min-height: 100vh;

  .about-section {
    justify-content: center;
    font-weight: 500;
    padding: 30vh 10vw;
    width: 80%;

    .about-title {
      display: flex;
      flex-direction: column;
      font-family: $font-libre;
      font-size: 32px;
      text-transform: uppercase;
      text-align: center;
      color: $dark-blue;
      height: auto;
      line-height: 2.25rem;
      overflow: hidden;
      margin-bottom: 3vh;
      z-index: 2;
  
      &::after {
        content: '';
        position: relative;
        height: 5px;
        background-image: url(../images/line-dark.svg);
        width: 230px;
        font-weight: bold;
        color: $soft-red;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        animation: lineMovementBgThree 3s linear infinite forwards;

        @media screen and (max-width: 500px) {
          width: 160px;
        }
      }

      @media screen and (max-width: 1200px) {
        margin-top: 5vh;
        font-size: 24px;
      }

      @media screen and (max-width: 500px) {
        font-size: 24px;
      }
    }

    .about-desc {
      padding: 30px 100px 50px 100px;
      text-align: justify;
      line-height: 40px;
      letter-spacing: 1px;

      .accent {
        color: $soft-red;
      }

      @media screen and (max-width: 1440px) {
        line-height: 50px;
        font-size: 24px;
      }

      @media screen and (max-width: 1200px) {
        min-height: 80vh;
      }

      @media screen and (max-width: 1000px) {
        padding: 30px 50px;
        font-size: 21px;
      }

      @media screen and (max-width: 650px) {
        padding: 30px 10px 50px 10px;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 0px;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
      padding: 5vh 10vw;
      min-height: 80vh;
    }
  }

  .social-media-section {
    justify-content: center;
    gap: 50px;
    padding: 0px;
    width: 20%;
    background-color: $dark-blue;

    a {
      display: flex;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      .social-media-icon {
        height: 80px;
        cursor: pointer;

        @media screen and (max-width: 650px) {
          height: 40px;
        }
      }

      @media screen and (min-width: 1200px) {
        width: 100%;

        &:hover {
          background-color: $beige;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      flex-direction: row;
      align-items: center;
      min-height: 20vh;
      width: 100%;
      gap: 80px;
    }

    @media screen and (max-width: 650px) {
      gap: 30px;
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.contact-section {
  min-height: 90vh;
  padding: 50px 0px;
  background-color: $dark-blue;

  .contact-title {
    display: flex;
    flex-direction: column;
    font-family: $font-libre;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: $beige;
    height: auto;
    line-height: 2.25rem;
    overflow: hidden;
    margin-bottom: 3vh;
    z-index: 2;

    &::after {
      content: '';
      position: relative;
      height: 5px;
      background-image: url(../images/line-red.svg);
      width: 340px;
      font-weight: bold;
      color: $soft-red;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      animation: lineMovementBgThree 3s linear infinite forwards;

      @media screen and (max-width: 500px) {
        width: 250px;
      }
    }

    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }

  .contact-form-container {
    margin-top: 10vh;
    align-items: center;

    form {
      justify-content: center;
      align-items: center;

      input, textarea {
        width: 50vw;
        outline: none;
        border: 3px dashed $beige;
        background-color: $beige;
        font-size: 21px;
        font-family: $font-roboto;
        color: $dark-blue;
        margin-bottom: 2vh;
        transition: all 0.1s ease-in-out;

        &::placeholder {
          font-family: $font-roboto;
          font-style: italic;
        }

        &:focus {
          border: 3px dashed $soft-red;
        }

        @media screen and (max-width: 650px) {
          width: 80vw;
        }
      }

      input {
        max-width: 750px;
        height: 50px;
        padding-left: 20px;
      }
      
      textarea {
        max-width: 750px;
        padding: 20px;
      }

      .submit-btn {
        display: block;
        border: none;
        align-content: center;
        padding-left: 0px;
        margin-bottom: 0vh;
        min-width: 100px;
        max-width: 165px;
        background-color: $soft-red;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          transform: skewX(-10deg);
        }
      }
    }
  }
}

.footer {
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
  min-height: 10vh;

  .logo {
    height: 50px;
  }
}

/*** ANIMATIONS ***/

@keyframes lineMovementBg {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -50px 0;
  }
}

@keyframes lineMovementBgTwo {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 45px 0;
  }
}

@keyframes lineMovementBgThree {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -48px 0;
  }
}